/* element selector */
body {
	background-color: #6c757d00; font-family: 'Fjalla One', sans-serif;padding-bottom: 50px;
}

span {
	margin: 2.5px;
}


/* class selector */
.container {
	 color: black; text-transform: capitalize; 
}

.jumbotron {
	height:640px;
	background-image: url("../img/test03.jpg");
    background-size: 1280px 800px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-middle {
	margin: auto;
}

.my-4 {
	margin-bottom: 0.5rem!important; margin-top: 0.1rem!important;
}
